{
  "all": true,
  "include": [
    "resources/js/**/*.{js,ts,vue}"
  ],
  "exclude": [
    "node_modules/**",
    "public/build/**",
    "tests/**",
    "*.config.js"
  ],
  "reporter": [
    "text-summary",
    "lcov",
    "html"
  ],
  "report-dir": "./coverage",
  "sourceMap": true,
  "instrument": true
}
