{
  "all": false,
  "include": [
    "**/resources/js/**"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/public/build/**",
    "**/tests/**"
  ],
  "reporter": [
    "text-summary",
    "lcov"
  ],
  "report-dir": "./coverage"
}
