{
  "all": true,
  "include": [
    "resources/js/**/*.js",
    "resources/js/**/*.vue",
    "resources/js/**/*.ts"
  ],
  "exclude": [
    "node_modules/**",
    "public/build/**",
    "tests/**"
  ],
  "reporter": [
    "text-summary",
    "lcov"
  ],
  "report-dir": "./coverage"
}
